@page "/characteristic"

<div class="border border-light col-1 text-center">
    <span class="font-weight-light text-primary border-bottom border-light">@Name</span>
    <br />
    <span class="font-weight-bold text-secondary">@Score</span>
</div>

@code 
{

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int Score { get; set; }

}
